* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100%;
  width: 100%;
  background-color: #33333370;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("/bg.jpg") center/cover;
  filter: blur(7px);
  z-index: -23;
}

h1 {
  font-size: 2.4rem;
  margin: 2rem auto;
  width: fit-content;
  color: #fff;
  text-transform: capitalize;
}

.project-list {
  list-style: none;
  margin: auto;
}

.project-item {
  margin: 1rem auto;
  max-width: 600px;
  width: 100%;
  background: #fff;
  border-radius: 0.5rem;
  transition: all .2s;
}

.project-item a {
  color: black;
  font-size: 1.7rem;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.project-item:hover {
  transform: scale(1.02);
}


footer {
  text-align: center;
  margin-top: 2rem;
  padding: 10px;
  font-size: 1.1rem;
  color: #ffffffb0;
}

.cil {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: 5px auto;
}

.cil li {
  margin: 10px;
  font-weight: bold;
}

.cil a {
  text-decoration: none;
  border-bottom: 1px solid;
  color: #fff
}
