* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-family: Geneva, Tahoma, sans-serif;
  color: #fff;
  display: grid;
  place-content: center;
}

.container {
  background: #1F2937;
  width: fit-content;
  padding: 2rem;
  padding: 4rem 3rem;
  border-radius: 2%;
  position: relative;
}

h1 {
  font-size: 2.3rem;
  line-height: 2.5rem;
  margin-bottom: .5rem;
}

p {
  font-weight: 100;
  font-size: 1.2rem;
}

.btn {
  border: none;
  outline: none;
  padding: 7px 14px;
  background: #10B981;
  color: #fff;
  font-weight: 500;
  font-family: inherit;
  font-size: 1rem;
  border-radius: 5px;
  margin-top: 3rem;
}

.passwords-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.password {
  padding: .5rem .3rem;
  min-height: 35px;
  min-width: 156px;
  text-align: center;
  border-radius: 5px;
  width: 47%;
  background: #273549;
  cursor: pointer;
}

hr {
  border: 1px solid #273549;
  margin-top: 2rem;
}

.color-4ADF86 {
  color: #4ADF86;
}

#toggle-message {
  padding: 5px 10px;
  border: 1px solid #10B981;
  width: fit-content;
  border-radius: 5px;
  margin: auto;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}
